<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered title="菜单">
  <div class="page-container-section">
    <p>
      菜单用于弹出一组按钮或其他控件以进行交互。列表通常展示为一个选项列表，每行一个选项，但也可以显示更丰富的内容。
    </p>
    <p>
      菜单的底层靠 <code>md-popover</code> 组件以及 <code>popper.js</code> 库驱动。
    </p>
  </div>
  <div class="page-container-section">
    <h2>弹出位置</h2>
    <p>
      默认的弹位置是 <code>bottom-start</code>，支持所有 <code>popper.js</code> 的位置（placement）参数。
    </p>
    <CodeExample title="Placement" e:example="_examples.placement" />
  </div>

  <div class="page-container-section">
    <h2>位移</h2>

    <p>
      默认情况下，会自动计算菜单的弹出位移。可以通过设置 <code>offset="0"</code> 来禁用位移，或指定自定义的位移值。
    </p>
    <CodeExample title="Offset" e:example="_examples.offset" />
  </div>
  <div class="page-container-section">
    <h2>大小</h2>

    <p>
      <code>md-menu</code> 可以指定 4 种大小之一，或指定为自动适应内容。
    </p>
    <CodeExample title="5 possible sizes" e:example="_examples.size" />
    <NoteBlock>
      菜单最大宽度为 280px，如果需要更大的宽度，请使用 css 设置。
    </NoteBlock>
  </div>

  <div class="page-container-section">
    <h2>自动关闭</h2>

    <p>
      菜单可以指定为在单击或选择后自动关闭。
    </p>
    <CodeExample title="Auto close menu on events" e:example="_examples.close"/>
  </div>

  <div class="page-container-section">
    <h2>丰富的信息和对齐</h2>

    <p>
      可以动态切换菜单，还可以在 <code> md-menu-content</code> 中显示任意内容，例如此卡片示例：
    </p>
    <CodeExample title="Open a menu programatically" e:example="_examples.multiple" />

    <ApiItem title="API - md-menu">
      <ApiTable e:headings="api.props.headings" e:props="api.props.props" slot-pass:props />
      <ApiTable e:headings="api.events.headings" e:props="api.events.props" slot-pass:events />
    </ApiItem>
  </div>
</PageContainer>