@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.home-icon-square {
  > div {
    width: 96px;
    height: 100px;
  }

  .square {
    width: 80px;
    height: 80px;
  }

  > div:hover {
    .square {
      opacity: 0.87;

      &:nth-child(1) {
        transform: translate3d(-8px, -8px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(24px, 24px, 0);
      }
    }
  }
}

.square {
  position: absolute;
  top: 2px;
  left: 0;
  transition: $md-transition-stand;
  will-change: transform, opacity;

  &:nth-child(1) {
    background-color: #448aff;
  }

  &:nth-child(2) {
    background-color: #b2ff59;
    transform: translate3d(8px, 8px, 0);
  }

  &:nth-child(3) {
    background-color: #fafafa;
    transform: translate3d(16px, 16px, 0);
  }
}
