@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.home-icon-devices {
  > div {
    width: 160px;
    height: 100px;
  }

  > div:hover .device {
    &:nth-child(1) {
      top: 0;
      right: 30%;
      bottom: 10%;
      left: -10%;
    }

    &:nth-child(2) {
      top: -15%;
      right: -35%;
      bottom: 55%;
      left: 70%;
    }

    &:nth-child(3) {
      right: -10%;
      left: 85%;
    }
  }
}

.device {
  width: auto;
  height: auto;
  position: absolute;
  transition: $md-transition-default;
  will-change: z-index, transform;

  &::after,
  &::before {
    position: absolute;
    content: ' ';
  }

  &::after {
    width: 6px;
    height: 6px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: var(--md-color-error);
  }

  &::before {
    height: 8px;
    top: 0;
    right: 0;
    left: 0;
  }

  &:nth-child(1) {
    top: 0;
    right: 20%;
    bottom: 10%;
    left: 0%;
    z-index: 1;
    background-color: #2196f3;

    &::before {
      background-color: #1976d2;
    }
  }

  &:nth-child(2) {
    top: 35%;
    right: 10%;
    bottom: 0;
    left: 30%;
    z-index: 2;
    background-color: #26c6da;

    &::before {
      background-color: #00acc1;
    }
  }

  &:nth-child(3) {
    top: 45%;
    right: 0;
    bottom: -10%;
    left: 75%;
    z-index: 3;
    background-color: #fafafa;

    &::before {
      background-color: #eee;
    }
  }
}
