@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.home-icon-circle {
  > div {
    width: 80px;
    height: 100px;
  }

  > div:hover .circle {
    &:nth-child(2) {
      transform: scale(1);
    }

    &:nth-child(3) {
      transform: scale(1);
    }
  }
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 10px;
  border-radius: 100%;
  transition: $md-transition-stand;
  will-change: transform;

  &:nth-child(1) {
    background-color: #4dd0e1;
  }

  &:nth-child(2) {
    background-color: #ef5350;
    transform: scale(0.66);
  }

  &:nth-child(3) {
    background-color: #ffeb3b;
    transform: scale(0.33);
  }
}
