@import '~jinge-material/style/layout/mixins.scss';
@import '../../layout/logo.scss';

.home-splash {
  max-width: 1312px;
  position: relative;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 1.7em;
  margin: auto;

  section {
    padding: 16px;

    @include md-layout(xsmall) {
      padding: 12px;
    }
  }
}

.fork-desc {
  text-align: center;
  margin-top: 120px;
  opacity: 0.6;
  padding: 0 16px;

  a {
    color: white;
    text-decoration: underline;
  }
}

.home-header {
  text-align: center;
  padding-top: 60px;
  height: calc(100vh - 64px);
  max-height: 660px;
  min-height: 550px;
}

.home-logo {
  font-size: 248px;
  @include jinge-logo;
}

.home-call {
  margin-top: 24px;
  flex: 0 0 50%;
  font-size: 18px;
  line-height: 1.6em;
  padding: 0 16px;
}

.home-name {
  margin: 0 0 0.2em;
  font-size: 50px;
  font-weight: 500;
  line-height: 1em;

  @include md-layout(xsmall) {
    font-size: 36px;
  }
}

.home-actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  .md-button {
    margin-left: 0;
  }
}

.home-features {
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  @include md-layout(small) {
    margin-top: 60px;
    flex-direction: column;
  }
}

.home-feature {
  text-align: center;
  flex: 1;
  padding: 36px 8px 16px 24px;

  &:first-child {
    margin-right: 16px;
  }

  &:last-child {
    margin-left: 16px;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  @include md-layout(small) {
    margin: 0 0 32px !important;
  }
}
