.gr0QOgVUMN4OJjP9hCEN.HqUidnqVYlIxZQQnq8d5{max-width:1100px;margin:0 auto;padding:16px;transition:.4s cubic-bezier(0.4, 0, 0.2, 1)}.gr0QOgVUMN4OJjP9hCEN .page-container-section{letter-spacing:.01em;line-height:1.6em}.gr0QOgVUMN4OJjP9hCEN .page-container-section+.page-container-section{margin-top:32px}.gr0QOgVUMN4OJjP9hCEN .page-container-section p>code,.gr0QOgVUMN4OJjP9hCEN .page-container-section li>code{padding:0 4px;display:inline-block;color:#ff5252;background:var(--md-outline);border-radius:2px;line-height:1.45em}.gr0QOgVUMN4OJjP9hCEN .page-container-section p+.code-example,.gr0QOgVUMN4OJjP9hCEN .page-container-section .md-layout-row+.code-example{margin-top:1em}
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The layout system breakpoints
 * ---
 * @access private
 * @type layout
 * @group layout
 */
/**
 * The available gutter sizes
 * ---
 * @access private
 * @type layout
 * @group layout
 */
/**
 * Breakpoint
 */
/**
 * Base
 */
/**
 * Layout Item
 */
/**
 * Hide Element
 */
.md-popover.md-tooltip {
  z-index: 111;
  pointer-events: none;
}
.md-popover.md-tooltip > .content {
  font-size: 10px;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  text-transform: none;
  white-space: nowrap;
  color: var(--md-surface);
  background-color: var(--md-on-surface-medium);
}
@media (max-width: 960px) {
  .md-popover.md-tooltip > .content {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
  }
}
.md-popover.md-tooltip .md-popover-enter-active {
  transition-duration: 0.15s;
}
.QT3oyga3VSsDr4dD3Ubh{margin:36px 0}.QT3oyga3VSsDr4dD3Ubh>.TeR_BPUT_jma8yiUGnc1>a{margin-right:10px;cursor:pointer}.QT3oyga3VSsDr4dD3Ubh .md-toolbar .md-button{margin:0 8px;font-family:"Roboto Mono",Menlo,Monaco,"Courier New",monospace;width:38px;height:38px}.QT3oyga3VSsDr4dD3Ubh .md-title{flex:1}.LNvEB8J5VTT8kwZdZwSI{min-height:86px;padding:16px;position:relative;border:1px solid var(--md-outline);border-top:0;background-color:var(--md-elevation-8)}.mb4uPfxhQjZMQoUymXy8{position:absolute;right:0;bottom:0;z-index:40}.OeQdJJrMXZzyE6b3PELF{display:none}.FcMBVMTN8OqSoJ1GIjIb{opacity:0;transition:opacity .4s cubic-bezier(0.4, 0, 0.2, 1);will-change:opacity}.JL1eb4Z1Iw2UCvHFowjf{opacity:1}
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The layout system breakpoints
 * ---
 * @access private
 * @type layout
 * @group layout
 */
/**
 * The available gutter sizes
 * ---
 * @access private
 * @type layout
 * @group layout
 */
/**
 * Breakpoint
 */
/**
 * Base
 */
/**
 * Layout Item
 */
/**
 * Hide Element
 */
/**
 * The elevation transition duration
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-snackbar {
  background-color: var(--md-elevation-6);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  min-width: 288px;
  max-width: 568px;
  min-height: 48px;
  max-height: 80px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  border-radius: 2px;
  background-color: var(--md-on-background);
  color: var(--md-background);
}
.md-snackbar.md-position-center {
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.md-snackbar.md-position-left {
  bottom: 24px;
  left: 24px;
}
@media (max-width: 600px) {
  .md-snackbar {
    left: 0;
    transform: none;
    border-radius: 0;
  }
}

.md-snackbar-enter,
.md-snackbar-leave {
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
  will-change: background-color, color, opacity, transform;
}

.md-snackbar-enter,
.md-snackbar-leave.md-snackbar-leave-active {
  opacity: 0;
}
.md-snackbar-enter.md-position-center,
.md-snackbar-leave.md-snackbar-leave-active.md-position-center {
  transform: translate3d(0, calc(100% + 8px), 0);
}
.md-snackbar-enter.md-position-left,
.md-snackbar-leave.md-snackbar-leave-active.md-position-left {
  transform: translate3d(0, calc(100% + 32px), 0);
}

.md-snackbar-enter.md-snackbar-enter-active,
.md-snackbar-leave {
  opacity: 1;
}
.md-snackbar-enter.md-snackbar-enter-active.md-position-center, .md-snackbar-enter.md-snackbar-enter-active.md-position-left,
.md-snackbar-leave.md-position-center,
.md-snackbar-leave.md-position-left {
  transform: none;
}

.md-snackbar-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.38s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.md-snackbar-content .md-button {
  min-width: 0;
  margin: -8px -8px -8px 36px;
}
@media (max-width: 600px) {
  .md-snackbar-content .md-button {
    margin-left: 12px;
  }
}
.md-snackbar-content .md-button + .md-button {
  margin-left: 16px;
}
.Ay8v55JkOkDJyvXIZlUa{max-width:100%;overflow:hidden;position:relative}.Ay8v55JkOkDJyvXIZlUa+.Ay8v55JkOkDJyvXIZlUa{margin-top:24px}.Ay8v55JkOkDJyvXIZlUa:hover .md-button{opacity:1}.Ay8v55JkOkDJyvXIZlUa::after{position:absolute;top:16px;right:16px;transition:.4s cubic-bezier(0.25, 0.8, 0.25, 1);color:var(--md-on-surface-disabled);content:attr(data-lang);font-size:11px;line-height:1em;text-transform:uppercase}.Ay8v55JkOkDJyvXIZlUa .md-button{min-width:56px;margin:8px;position:absolute;right:0;bottom:0;opacity:0;z-index:999;color:#fff}.XwzM1Nu218AQV8eyvIvy{min-width:100%;max-height:450px;min-height:86px;overflow:auto}.XwzM1Nu218AQV8eyvIvy pre{display:flex;align-items:stretch;margin:0 !important;border-radius:0 !important}.XwzM1Nu218AQV8eyvIvy pre>code{opacity:0;min-width:100%}
.RSL2XDx5iih_FRFa7eRa .md-button{min-width:56px;margin:4px 0}.RSL2XDx5iih_FRFa7eRa .md-button+.md-button{margin-left:4px}
.zYP4z1pJc9RTkyPu5rBR{padding-bottom:16px}.zYP4z1pJc9RTkyPu5rBR table{width:100%;table-layout:auto;border-collapse:collapse;border-spacing:0;font-size:13px;line-height:18px}.zYP4z1pJc9RTkyPu5rBR tr:first-child{font-weight:500;background-color:var(--md-elevation-1)}.zYP4z1pJc9RTkyPu5rBR td,.zYP4z1pJc9RTkyPu5rBR th{padding:8px 16px;border:1px solid var(--md-outline);text-align:left;vertical-align:middle}.zYP4z1pJc9RTkyPu5rBR th{color:var(--md-on-surface-medium);height:40px;line-height:23px}.zYP4z1pJc9RTkyPu5rBR th:first-child{width:22%}.zYP4z1pJc9RTkyPu5rBR th:nth-child(2)~.zYP4z1pJc9RTkyPu5rBR th:last-child{width:17%}.zYP4z1pJc9RTkyPu5rBR td.wHPuGHmupbyPydyvV_ON{padding-left:32px}.zYP4z1pJc9RTkyPu5rBR .zOhtNaKI3_k7g1cbNwQK{vertical-align:top}.zYP4z1pJc9RTkyPu5rBR .v6FfT2EHuIES6TOrKnyh{display:block}.zYP4z1pJc9RTkyPu5rBR .j6LdSwxt2q8sdpeKLmXV{color:var(--md-on-surface-disabled);text-transform:capitalize}.zYP4z1pJc9RTkyPu5rBR .dZmAFz_XmkbBF6zrqxQH{width:40%}.zYP4z1pJc9RTkyPu5rBR code{color:#ff5252}.zYP4z1pJc9RTkyPu5rBR code span{color:#448aff}.zYP4z1pJc9RTkyPu5rBR .QurX_NgV8X_qoiLLDSPX code,.zYP4z1pJc9RTkyPu5rBR .v6FfT2EHuIES6TOrKnyh code{color:#ff5252}
.r2A7a2EC87SXe2qpG4_9{margin:1.5em 0;padding:8px 16px;overflow:hidden;border-left:4px solid #ffab40}.r2A7a2EC87SXe2qpG4_9.tGgFIeVhRdteLFSPwcgl{border-left-color:#ff5252}.r2A7a2EC87SXe2qpG4_9.umu7rhpXKjQElZekCogn{border-left-color:#69f0ae}.r2A7a2EC87SXe2qpG4_9.xn4r3qngMDJjRjYq6N31{font-size:15px}
.md-card-actions {
  padding: 8px;
  display: flex;
  align-items: center;
}
.md-card-actions.md-alignment-right {
  justify-content: flex-end;
}
.md-card-actions.md-alignment-left {
  justify-content: flex-start;
}
.md-card-actions.md-alignment-space-between {
  justify-content: space-between;
}
.md-card-actions .md-button {
  margin: 0;
}
.md-card-actions .md-button:first-child {
  margin-left: 0;
}
.md-card-actions .md-button:last-child {
  margin-right: 0;
}
.md-card-actions .md-button + .md-button {
  margin-left: 4px;
}

.md-card-area {
  position: relative;
}

.md-card > .md-card-area:not(:last-child) {
  position: relative;
}
.md-card > .md-card-area:not(:last-child)::after {
  height: 1px;
  position: absolute;
  bottom: 0;
  content: " ";
}
.md-card > .md-card-area:not(:last-child):not(.md-inset)::after {
  right: 0;
  left: 0;
}
.md-card > .md-card-area:not(:last-child).md-inset::after {
  right: 16px;
  left: 16px;
}

.md-card-content {
  padding: 16px;
  font-size: 14px;
  line-height: 22px;
}
.md-card-content:last-of-type {
  padding-bottom: 24px;
}

/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-card-expand-content {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, margin-top;
  will-change: opacity, margin-top;
}

/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-card-expand-trigger.md-icon-button {
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.md-card-expand {
  overflow: hidden;
}
.md-card-expand .md-card-actions {
  position: relative;
  z-index: 2;
}
.md-card-expand .md-card-expand-content {
  position: relative;
  z-index: 1;
}

.md-card-header {
  padding: 16px;
}
.md-card-header:first-child > .md-title:first-child,
.md-card-header:first-child > .md-card-header-text > .md-title:first-child {
  margin-top: 8px;
}
.md-card-header:last-child {
  margin-bottom: 8px;
}
.md-card-header.md-card-header-flex {
  display: flex;
  justify-content: space-between;
}
.md-card-header + .md-card-content {
  padding-top: 0;
}
.md-card-header + .md-card-actions:not(:last-child) {
  padding: 0 8px;
}
.md-card-header > img {
  border-radius: 50%;
}
.md-card-header > img,
.md-card-header .md-avatar {
  margin-right: 16px;
  float: left;
}
.md-card-header > img ~ .md-title,
.md-card-header .md-avatar ~ .md-title {
  font-size: 14px;
}
.md-card-header > img ~ .md-title,
.md-card-header > img ~ .md-subhead,
.md-card-header .md-avatar ~ .md-title,
.md-card-header .md-avatar ~ .md-subhead {
  font-weight: 500;
  line-height: 20px;
}
.md-card-header .md-button {
  margin: 0;
}
.md-card-header .md-button:last-child {
  margin-right: -4px;
}
.md-card-header .md-button + .md-button {
  margin-left: 8px;
}
.md-card-header .md-card-header-text {
  flex: 1;
}
.md-card-header .md-card-media {
  width: 80px;
  height: 80px;
  margin-left: 16px;
  flex: 0 0 80px;
}
.md-card-header .md-card-media.md-medium {
  width: 120px;
  height: 120px;
  flex: 0 0 120px;
}
.md-card-header .md-card-media.md-big {
  width: 160px;
  height: 160px;
  flex: 0 0 160px;
}

.md-card-media-actions {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.md-card-media-actions .md-card-media {
  max-width: 240px;
  max-height: 240px;
  flex: 1;
}
.md-card-media-actions .md-card-actions {
  margin-left: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.md-card-media-actions .md-card-actions.md-alignment-right {
  justify-content: flex-end;
}
.md-card-media-actions .md-card-actions .md-button + .md-button {
  margin: 8px 0 0;
}

.md-card-media {
  position: relative;
}
.md-card-media.md-ratio-16-9 {
  overflow: hidden;
}
.md-card-media.md-ratio-16-9::before {
  width: 100%;
  padding-top: 56.25%;
  display: block;
  content: " ";
}
.md-card-media.md-ratio-16-9 img {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
.md-card-media.md-ratio-4-3 {
  overflow: hidden;
}
.md-card-media.md-ratio-4-3::before {
  width: 100%;
  padding-top: 75%;
  display: block;
  content: " ";
}
.md-card-media.md-ratio-4-3 img {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
.md-card-media.md-ratio-1-1 {
  overflow: hidden;
}
.md-card-media.md-ratio-1-1::before {
  width: 100%;
  padding-top: 100%;
  display: block;
  content: " ";
}
.md-card-media.md-ratio-1-1 img {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
.md-card-media + .md-card-header {
  padding-top: 24px;
}
.md-card-media + .md-card-content:last-child {
  padding-bottom: 16px;
}
.md-card-media img {
  width: 100%;
}

/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The elevation transition duration
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The elevation transition duration
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-card {
  background-color: var(--md-elevation-2);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
  will-change: color, background-color;
  background-color: var(--md-background);
}
.md-card.md-with-hover {
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: background-color, box-shadow;
}
.md-card.md-with-hover:hover {
  z-index: 2;
  background-color: var(--md-elevation-8);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.md-card.md-expand-active .md-card-expand-trigger.md-icon-button {
  transform: rotate(180deg);
}
.md-card .md-subhead,
.md-card .md-title,
.md-card .md-subheading {
  margin: 0;
  font-weight: 400;
}
.md-card .md-subhead {
  opacity: 0.54;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.md-card .md-subhead + .md-title {
  margin-top: 4px;
}
.md-card .md-title {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}
.md-card > .md-card-area::after {
  background-color: var(--md-outline);
}
.md-card.md-primary {
  background-color: var(--md-primary);
}
.md-card.md-primary,
.md-card.md-primary .md-button {
  color: var(--md-on-primary);
}
.md-card.md-accent {
  background-color: var(--md-secondary);
}
.md-card.md-accent,
.md-card.md-accent .md-button {
  color: var(--md-on-secondary);
}
.EU9unhGs9OCgcfBPeiKB .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}
.pSlDrHaL_dICFYYm6FYX .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}
.WnDLhs2yJRxhUrUSogqF .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}
.dJV6Dupx21OUloTloll1 .md-purple-card{background:#9c27b0}.dJV6Dupx21OUloTloll1 .md-orange-card{background:#ff9800}.dJV6Dupx21OUloTloll1 .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}
.RliNstHmmB5MYuSTD6CF{height:480px}.RliNstHmmB5MYuSTD6CF .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: relative;
  border-radius: 40px;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
  will-change: color, background-color;
  font-size: 24px;
  letter-spacing: -0.05em;
  vertical-align: middle;
  background-color: var(--md-outline);
  color: var(--md-on-primary);
}
.md-avatar.md-large {
  min-width: 64px;
  min-height: 64px;
  border-radius: 64px;
  font-size: 32px;
}
.md-avatar.md-large .md-icon {
  font-size: 40px !important;
}
.md-avatar.md-small {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 24px;
  font-size: 14px;
}
.md-avatar.md-small .md-icon {
  font-size: 16px !important;
}
.md-avatar .md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.md-avatar img {
  width: 100%;
  height: 100%;
  display: block;
}
.md-avatar .md-ripple {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.md-avatar.md-primary {
  background-color: var(--md-primary);
}
.md-avatar.md-accent {
  background-color: var(--md-secondary);
}
.gygrwLdD7_gfrHyTJ090 .md-card{width:320px;margin:4px;display:inline-block;vertical-align:top}.gygrwLdD7_gfrHyTJ090 .md-card-example .md-subhead .md-icon{width:16px;min-width:16px;height:16px;font-size:16px !important}.gygrwLdD7_gfrHyTJ090 .md-card-example .md-subhead span{vertical-align:middle}.gygrwLdD7_gfrHyTJ090 .md-card-example .card-reservation{margin-top:8px;display:flex;align-items:center;justify-content:space-between}.gygrwLdD7_gfrHyTJ090 .md-card-example .card-reservation .md-icon{margin:8px}.gygrwLdD7_gfrHyTJ090 .md-card-example .md-button-group{display:flex}.gygrwLdD7_gfrHyTJ090 .md-card-example .md-button-group .md-button{min-width:60px;border-radius:2px}
