.md-optgroup .md-subheader {
  text-transform: uppercase;
}
.md-optgroup .md-ripple.md-list-item-content {
  padding-left: 24px;
}

/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-popover.md-menu.md-select .content {
  min-width: 270px;
}
.md-popover.md-menu.md-select:not(.md-disabled) .md-input,
.md-popover.md-menu.md-select:not(.md-disabled) .md-icon {
  cursor: pointer;
  outline: none;
}
.md-subheader {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-size: 14px;
  font-weight: 500;
  color: var(--md-text-accent);
}
.md-subheader.md-primary {
  color: var(--md-primary);
}
.sqKnkUqv7pzDRUBaZk__ .md-field{max-width:300px}
