/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/columns.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
.demo--R7A3m .md-layout-item {
  height: 40px;
}
.demo--R7A3m .md-layout-item:nth-child(1) {
  background: #e0e0e0;
}
.demo--R7A3m .md-layout-item:nth-child(2) {
  background: #bdbdbd;
}
.demo--R7A3m .md-layout-item:nth-child(3) {
  background: #9e9e9e;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/gutter.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
.demo--UTVmx .md-layout-item {
  height: 40px;
}
.demo--UTVmx .md-layout-item::after {
  width: 100%;
  height: 100%;
  display: block;
  background: #ef9a9a;
  content: " ";
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/nested.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
.demo--HFKUu .md-layout-item {
  height: 72px;
}
.demo--HFKUu .md-layout-item::after {
  width: 100%;
  height: 100%;
  display: block;
  content: " ";
}
.demo--HFKUu .md-layout-item.md-layout::after {
  transform: translateY(-100%);
  background: #fff59d;
}
.demo--HFKUu .md-layout-item.md-layout .md-layout-item::after {
  height: 40px;
  margin-top: 16px;
  position: relative;
  z-index: 1;
  background: #f48fb1;
}
/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!../jinge-material/lib/select/style/index.css ***!
  \*************************************************************************************************************************************************/
.md-optgroup .md-subheader{text-transform:uppercase}.md-optgroup .md-ripple.md-list-item-content{padding-left:24px}.md-popover.md-menu.md-select .content{min-width:270px}.md-popover.md-menu.md-select:not(.md-disabled) .md-icon,.md-popover.md-menu.md-select:not(.md-disabled) .md-input{cursor:pointer;outline:0}
/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!../jinge-material/lib/subheader/style/index.css ***!
  \****************************************************************************************************************************************************/
.md-subheader{min-height:48px;padding:0 16px;display:flex;align-items:center;flex-flow:row wrap;font-size:14px;font-weight:500;color:var(--md-text-accent)}.md-subheader.md-primary{color:var(--md-primary)}
/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!../jinge-material/lib/checkbox/style/index.css ***!
  \***************************************************************************************************************************************************/
.md-checkbox{width:auto;margin:16px 16px 16px 0;display:inline-flex;position:relative;cursor:pointer}.md-checkbox.md-disabled{cursor:default;opacity:.38}.md-checkbox .md-checkbox-container{width:20px;min-width:20px;height:20px;position:relative;border-radius:2px;border:2px solid var(--md-on-surface-medium);transition:.4s cubic-bezier(.25, .8, .25, 1)}.md-checkbox .md-checkbox-container:focus{outline:0}.md-checkbox .md-checkbox-container::after,.md-checkbox .md-checkbox-container::before{position:absolute;transition:.4s cubic-bezier(.55, 0, .55, .2);content:" "}.md-checkbox .md-checkbox-container::before{width:48px;height:48px;top:50%;left:50%;z-index:11;border-radius:50%;transform:translate(-50%,-50%)}.md-checkbox .md-checkbox-container::after{width:4px;height:12px;top:0;left:5px;z-index:12;border:2px solid transparent;border-top:0;border-left:0;opacity:0;transform:rotate(45deg) scale3d(.15,.15,1)}.md-checkbox .md-checkbox-container .md-ripple{width:48px!important;height:48px!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%);border-radius:50%}.md-checkbox .md-checkbox-container input{position:absolute;left:-999em}.md-checkbox .md-checkbox-label{height:20px;padding-left:16px;position:relative;line-height:20px}.md-checkbox.md-checked .md-ripple{color:var(--md-secondary)}.md-checkbox.md-checked .md-checkbox-container{background-color:var(--md-secondary);border-color:var(--md-secondary)}.md-checkbox.md-checked .md-checkbox-container::after{opacity:1;transform:rotate(45deg) scale3d(1,1,1);transition:.4s cubic-bezier(.25, .8, .25, 1);border-color:var(--md-background)}.md-checkbox.md-checked.md-primary .md-checkbox-container{background-color:var(--md-primary);border-color:var(--md-primary)}.md-checkbox.md-checked.md-primary .md-ripple{color:var(--md-primary)}.md-checkbox.md-required label::after{position:absolute;top:2px;right:0;transform:translateX(calc(100% + 2px));content:"*";line-height:1em;vertical-align:top}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/alignment.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.demo--UY6BB .md-layout {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.demo--UY6BB .example .md-layout-item {
  min-height: 40px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.demo--UY6BB .example .md-layout-item span {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: block;
  background: #90caf9;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/hide.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
.demo--bBnxn .md-layout-item {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.demo--bBnxn .md-layout-item span {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: block;
  background: #80cbc4;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/sizes.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
.demo--Xkes7 .md-layout-item {
  height: 40px;
}
.demo--Xkes7 .md-layout-item::after {
  width: 100%;
  height: 100%;
  display: block;
  background: #a5d6a7;
  content: " ";
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js!./src/pages/ui-elements/layout/examples/responsive.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */
/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */
.md-layout-item--tPLw1 {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-layout-item--tPLw1::after {
  width: 100%;
  height: 100%;
  display: block;
  background: #ce93d8;
  content: " ";
}

/*# sourceMappingURL=src_pages_ui-elements_layout_index_ts.css.map*/