/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/prismjs@1.28.0/node_modules/prismjs/themes/prism-okaidia.css ***!
  \**************************************************************************************************************************************************************************************/
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.4+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/themes/green.dark.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
/* primary */
/* secondary */
/* tertiary */
/* neutral */
/* error */
/* light */
/* dark */
:root {
  --md-color-primary: #a0d57a;
  --md-color-primary-rgb: 160 213 122;
  --md-color-on-primary: #163800;
  --md-color-on-primary-rgb: 22 56 0;
  --md-color-primary-container: #255102;
  --md-color-primary-container-rgb: 37 81 2;
  --md-color-on-primary-container: #bbf293;
  --md-color-on-primary-container-rgb: 187 242 147;
  --md-color-secondary: #bdcbaf;
  --md-color-secondary-rgb: 189 203 175;
  --md-color-on-secondary: #283420;
  --md-color-on-secondary-rgb: 40 52 32;
  --md-color-secondary-container: #3f4a35;
  --md-color-secondary-container-rgb: 63 74 53;
  --md-color-on-secondary-container: #d9e7ca;
  --md-color-on-secondary-container-rgb: 217 231 202;
  --md-color-tertiary: #a0cfce;
  --md-color-tertiary-rgb: 160 207 206;
  --md-color-on-tertiary: #003737;
  --md-color-on-tertiary-rgb: 0 55 55;
  --md-color-tertiary-container: #1e4e4d;
  --md-color-tertiary-container-rgb: 30 78 77;
  --md-color-on-tertiary-container: #bbecea;
  --md-color-on-tertiary-container-rgb: 187 236 234;
  --md-color-error: #ffb4ab;
  --md-color-error-rgb: 255 180 171;
  --md-color-error-container: #93000a;
  --md-color-error-container-rgb: 147 0 10;
  --md-color-on-error: #690005;
  --md-color-on-error-rgb: 105 0 5;
  --md-color-on-error-container: #ffdad6;
  --md-color-on-error-container-rgb: 255 218 214;
  --md-color-background: #1a1c18;
  --md-color-background-rgb: 26 28 24;
  --md-color-on-background: #e3e3dc;
  --md-color-on-background-rgb: 227 227 220;
  --md-color-surface: #1a1c18;
  --md-color-surface-rgb: 26 28 24;
  --md-color-on-surface: #e3e3dc;
  --md-color-on-surface-rgb: 227 227 220;
  --md-color-surface-variant: #44483e;
  --md-color-surface-variant-rgb: 68 72 62;
  --md-color-on-surface-variant: #c4c8bb;
  --md-color-on-surface-variant-rgb: 196 200 187;
  --md-color-outline: #8e9286;
  --md-color-outline-rgb: 142 146 134;
  --md-color-inverse-on-surface: #1a1c18;
  --md-color-inverse-on-surface-rgb: 26 28 24;
  --md-color-inverse-surface: #e3e3dc;
  --md-color-inverse-surface-rgb: 227 227 220;
  --md-color-inverse-primary: #3c6a1c;
  --md-color-inverse-primary-rgb: 60 106 28;
  --md-color-shadow: #000;
  --md-color-shadow-rgb: 0 0 0;
  --md-color-surface-tint: #a0d57a;
  --md-color-surface-tint-rgb: 160 213 122;
  --md-color-surface-tint-color: #a0d57a;
  --md-color-surface-tint-color-rgb: 160 213 122;
}

:root {
  --color-theme-selector-border: rgb(var(--md-color-on-surface-rgb) / 70%);
}
