/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/prismjs@1.28.0/node_modules/prismjs/themes/prism-okaidia.css ***!
  \**************************************************************************************************************************************************************************************/
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.0+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/themes/purple-dark.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/**
 * The complete material palette
 */
/* stylelint-disable custom-property-pattern */
:root {
  --md-elevation-0: #121212;
  --md-elevation-1: #1e1e1e;
  --md-elevation-2: #232323;
  --md-elevation-3: #252525;
  --md-elevation-4: #272727;
  --md-elevation-6: #2c2c2c;
  --md-elevation-8: #2e2e2e;
  --md-elevation-12: #333333;
  --md-elevation-16: #363636;
  --md-elevation-24: #383838;
  --md-primary: #bb86fc;
  --md-secondary: #03dac5;
  --md-background: #121212;
  --md-surface: #121212;
  --md-surface-disabled: rgb(255 255 255 / 12%);
  --md-error: #cf6679;
  --md-on-primary: #000;
  --md-on-primary-medium: rgb(0 0 0 / 74%);
  --md-on-primary-disabled: rgb(0 0 0 / 38%);
  --md-on-secondary: #000;
  --md-on-secondary-disabled: rgb(0 0 0 / 38%);
  --md-on-background: #fff;
  --md-on-surface: rgb(255 255 255 / 87%);
  --md-on-surface-medium: rgb(255 255 255 / 60%);
  --md-on-surface-disabled: rgb(255 255 255 / 38%);
  --md-on-error: #000;
  --md-outline: rgb(255 255 255 / 12%);
}

:root {
  --demo-table-row-class-highlight: #ffe082;
  --demo-states-background: #292929;
}
