/*!******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/prismjs@1.28.0/node_modules/prismjs/themes/prism.css ***!
  \******************************************************************************************************************************************************************************/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.74.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@13.0.2_sass@1.54.4+webpack@5.74.0/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/themes/red.light.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
/* primary */
/* secondary */
/* tertiary */
/* neutral */
/* error */
/* light */
/* dark */
:root {
  --md-color-primary: #c00006;
  --md-color-primary-rgb: 192 0 6;
  --md-color-on-primary: #fff;
  --md-color-on-primary-rgb: 255 255 255;
  --md-color-primary-container: #ffdad5;
  --md-color-primary-container-rgb: 255 218 213;
  --md-color-on-primary-container: #410001;
  --md-color-on-primary-container-rgb: 65 0 1;
  --md-color-secondary: #775652;
  --md-color-secondary-rgb: 119 86 82;
  --md-color-on-secondary: #fff;
  --md-color-on-secondary-rgb: 255 255 255;
  --md-color-secondary-container: #ffdad5;
  --md-color-secondary-container-rgb: 255 218 213;
  --md-color-on-secondary-container: #2c1512;
  --md-color-on-secondary-container-rgb: 44 21 18;
  --md-color-tertiary: #705c2e;
  --md-color-tertiary-rgb: 112 92 46;
  --md-color-on-tertiary: #fff;
  --md-color-on-tertiary-rgb: 255 255 255;
  --md-color-tertiary-container: #fcdfa6;
  --md-color-tertiary-container-rgb: 252 223 166;
  --md-color-on-tertiary-container: #251a00;
  --md-color-on-tertiary-container-rgb: 37 26 0;
  --md-color-error: #ba1a1a;
  --md-color-error-rgb: 186 26 26;
  --md-color-error-container: #ffdad6;
  --md-color-error-container-rgb: 255 218 214;
  --md-color-on-error: #fff;
  --md-color-on-error-rgb: 255 255 255;
  --md-color-on-error-container: #410002;
  --md-color-on-error-container-rgb: 65 0 2;
  --md-color-background: #fffbff;
  --md-color-background-rgb: 255 251 255;
  --md-color-on-background: #201a19;
  --md-color-on-background-rgb: 32 26 25;
  --md-color-surface: #fffbff;
  --md-color-surface-rgb: 255 251 255;
  --md-color-on-surface: #201a19;
  --md-color-on-surface-rgb: 32 26 25;
  --md-color-surface-variant: #f5ddda;
  --md-color-surface-variant-rgb: 245 221 218;
  --md-color-on-surface-variant: #534341;
  --md-color-on-surface-variant-rgb: 83 67 65;
  --md-color-outline: #857370;
  --md-color-outline-rgb: 133 115 112;
  --md-color-inverse-on-surface: #fbeeec;
  --md-color-inverse-on-surface-rgb: 251 238 236;
  --md-color-inverse-surface: #362f2e;
  --md-color-inverse-surface-rgb: 54 47 46;
  --md-color-inverse-primary: #ffb4a9;
  --md-color-inverse-primary-rgb: 255 180 169;
  --md-color-shadow: #000;
  --md-color-shadow-rgb: 0 0 0;
  --md-color-surface-tint: #c00006;
  --md-color-surface-tint-rgb: 192 0 6;
  --md-color-surface-tint-color: #c00006;
  --md-color-surface-tint-color-rgb: 192 0 6;
}

:root {
  --color-theme-selector-border: rgb(var(--md-color-on-surface-rgb) / 4%);
}
