<!-- import style from './hide.scss' -->
<div :class="[style.demo, 'md-layout md-gutter']">
  <div class="md-layout-item md-size-medium-33 md-size-small-50 md-size-xsmall-100">
    <span>Always Show</span>
  </div>

  <div class="md-layout-item md-size-medium-33 md-size-small-50 md-size-xsmall-100">
    <span>Always Show</span>
  </div>

  <div class="md-layout-item md-size-medium-33 md-size-small-50 md-size-xsmall-100">
    <span>Always Show</span>
  </div>

  <div class="md-layout-item md-size-medium-50 md-size-small-50 md-xsmall-hide">
    <span>Hide Xsmall</span>
  </div>

  <div class="md-layout-item md-size-medium-50 md-small-hide">
    <span>Hide Small</span>
  </div>

  <div class="md-layout-item md-medium-hide">
    <span>Hide Medium</span>
  </div>
</div>