.demo {
  :global {
    .md-layout-item {
      height: 72px;

      &::after {
        width: 100%;
        height: 100%;
        display: block;
        content: ' ';
      }

      &.md-layout {
        &::after {
          transform: translateY(-100%);
          background-color: var(--md-color-primary-container);
        }

        .md-layout-item::after {
          height: 40px;
          margin-top: 16px;
          position: relative;
          z-index: 1;
          background-color: var(--md-color-on-primary-container);
        }
      }
    }
  }
}
