<!-- import style from './responsive.scss' -->
<div :class="[style.demo, 'md-layout md-gutter']">
  <div class="md-layout-item md-size-xlarge-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
  <div class="md-layout-item md-size-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
  <div class="md-layout-item md-size-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
  <div class="md-layout-item md-size-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
  <div class="md-layout-item md-size-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
  <div class="md-layout-item md-size-20 md-size-large-25 md-size-medium-33 md-size-small-50 md-size-xsmall-100"></div>
</div>