.demo {
  :global {
    .md-layout-item {
      height: 40px;
      margin-top: 8px;
      margin-bottom: 8px;

      &::after {
        width: 100%;
        height: 100%;
        display: block;
        background-color: var(--md-color-primary);
        content: ' ';
      }
    }
  }
}
