.api-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  line-height: 18px;

  th {
    white-space: nowrap;
    font-weight: 500;
  }

  td:nth-child(3) {
    color: var(--md-color-tertiary);
  }

  td:last-child {
    color: var(--md-color-tertiary);
  }

  td,
  th {
    padding: 8px 16px;
    border: 1px solid var(--md-color-secondary-container);
    text-align: left;
    vertical-align: middle;
  }
}
