@import '~jinge-material/style/animation.scss';

.code-example {
  margin: 36px 0;

  :global {
    .md-topbar {
      .md-button {
        font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', monospace;
      }
    }
  }
}

.demo {
  min-height: 86px;
  padding: 16px;
  position: relative;
  border-top: 0;
}
