<!--
  import style from './code-block.scss';
-->
<div :class="style.codeBlock" data-lang="${_lang}">
  <div :class="style.codeBlockWrapper" style="max-height: ${height}px;">
    <pre class="language-${_lang}" ref:pre>
      <_slot />
    </pre>
  </div>

  <div :class="style.tip">
    <span>${_lang}</span>
    <md-tooltip title="复制代码">
      <md-icon-button type="text" ref:copy>
          <md-ic-content_copy />
      </md-icon-button>
    </md-tooltip>
  </div>
  <!-- <md-button type="filled-tonal" ref:copy>
  复制
  </md-button> -->
</div>