@import '~jinge-material/style/animation.scss';

.code-block {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  + .code-block {
    margin-top: 24px;
  }

  &:hover {
    :global {
      .md-button {
        opacity: 1;
      }
    }
  }

  .tip {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: var(--md-on-surface-disabled);

    > span {
      font-size: 10px;
      line-height: 1em;
      text-transform: uppercase;
      margin-right: 8px;
    }

    :global {
      .md-button.md-icon-button {
        .md-icon {
          font-size: 16px;
        }
      }
    }
  }
}

.code-block-wrapper {
  min-width: 100%;
  max-height: 450px;
  min-height: 86px;
  overflow: auto;

  pre {
    display: flex;
    align-items: stretch;
    margin: 0 !important;
    border-radius: 0 !important;

    > code {
      opacity: 0;
      min-width: 100%;
    }
  }
}
