@import '~jinge-material/style/animation/variables.scss';
@import '~jinge-material/style/palette.scss';

.code-block {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  + .code-block {
    margin-top: 24px;
  }

  &:hover {
    :global {
      .md-button {
        opacity: 1;
      }
    }
  }

  &::after {
    position: absolute;
    top: 16px;
    right: 16px;
    transition: $md-transition-stand;
    color: var(--md-on-surface-disabled);
    content: attr(data-lang);
    font-size: 11px;
    line-height: 1em;
    text-transform: uppercase;
  }

  :global {
    .md-button {
      min-width: 56px;
      margin: 8px;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 999;
      color: #fff;
    }
  }
}

.code-block-wrapper {
  min-width: 100%;
  max-height: 450px;
  min-height: 86px;
  overflow: auto;

  pre {
    display: flex;
    align-items: stretch;
    margin: 0 !important;
    border-radius: 0 !important;

    > code {
      opacity: 0;
      min-width: 100%;
    }
  }
}
