@import '~jinge-material/style/animation.scss';

.page-container {
  &.centered {
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px;
    transition: 0.4s $md-transition-default-timing;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  p:first-child {
    margin-top: 0;
  }

  p a,
  p strong {
    margin: 0 4px;
  }

  :global {
    .page-container-section {
      + .page-container-section {
        margin-top: 32px;
      }

      .md-title-large {
        margin-bottom: 1em;
      }

      code:not(pre *) {
        padding: 0 8px;
        display: inline-block;
        background-color: rgb(var(--md-color-primary-rgb) / 12%);
        border-radius: 3px;
        margin: 0 2px;
      }

      p,
      .md-layout-row {
        + .code-example {
          margin-top: 1em;
        }
      }
    }
  }
}
