<!-- import style from './common-buttons.scss' -->
<div :class="style.demo">
  <md-icon-button>
    <md-ic-thumb_up/>
  </md-icon-button>
  <md-icon-button type="filled">
    <md-ic-thumb_up/>
  </md-icon-button>
  <md-icon-button type="filled-tonal">
    <md-ic-thumb_up/>
  </md-icon-button>
  <md-icon-button type="outlined">
    <md-ic-thumb_up/>
  </md-icon-button>
  <small>Toggle</small>
  <md-icon-button toggle :selected="selected" on:click="selected = !selected">
    <md-ic-thumb_up/>
  </md-icon-button>
  <md-icon-button type="filled" toggle :selected="!selected" on:click="selected = !selected">
    <md-ic-thumb_up/>
  </md-icon-button>
  <md-icon-button type="outlined" toggle :selected="selected" on:click="selected = !selected">
    <md-ic-thumb_up/>
  </md-icon-button>
  <small>Loading</small>
  <md-icon-button :loading="loading" on:click="search">
    <md-ic-search />
  </md-icon-button>
</div>
