<!-- import style from './basic.scss' -->
<div :class="style.demo">
  <p>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
      />
    </div>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
        e:showDefaultPlaceholder="false"
      />
    </div>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
        placeholder="请选择日期"
      />
    </div>
  </p>
  <p>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
      >
        <label>选择日期</label>
      </md-datepicker>
    </div>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
        e:showDefaultPlaceholder="false"
      >
        <label>选择日期</label>
      </md-datepicker>
    </div>
    <div>
      <md-datepicker
        e:value="selectedDate"
        on:confirm="onChange"
        placeholder="请选择日期"
      >
        <label>选择日期</label>
      </md-datepicker>
    </div>
  </p>  
</div>