<!--
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered title="按钮">
  <div class="page-container-section">
    <p>
      按钮组件用于响应用户的点（触）击操作。按钮类型包括常规按钮、图标按钮、分组按钮和 FAB 按钮。请参看
      <a href="https://m3.material.io/components/buttons/overview" target="_blank">
        Material Design 3 设计规范手册
      </a>
      以获取更多指导。
    </p>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-medium">常规按钮</h2>
    <p>
      常规按钮适用于各类交互。
    </p>

    <CodeExample title="Common Buttons" e:example="_examples.regularButtons" />

    <h3 class="md-title-large">API - md-button</h3>
    <ApiTable :props="api.common"/>
    <p>
      除<code>click</code>外，任何原生 DOM 事件都可以通过组件绑定和使用。
    </p>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-medium">图标按钮</h2>
    <p>
      除了常规按钮的 4 种类型，图标按钮还支持切换选中状态。
    </p>

    <CodeExample title="Icon Buttons" e:example="_examples.iconButtons" />
    <h3 class="md-title-large">API - md-icon-button</h3>
    <ApiTable :props="api.icon"/>
    <p>
      除<code>click</code>外，任何原生 DOM 事件都可以通过组件绑定和使用。
    </p>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-medium">分组按钮</h2>
    <p>
      分组按钮的功能和 Tab 类似。
    </p>

    <CodeExample title="Segmented Buttons" e:example="_examples.segmentedButtons" />
    <h3 class="md-title-large">API - md-segmented-button</h3>
    <ApiTable :props="api.segmented"/>
    <h3 class="md-title-large" style="margin-top: 16px">API - md-segmented-button-item</h3>
    <ApiTable :props="api.segmentedItem"/>
  </div>

  

  <div class="page-container-section">
    <h2 class="md-headline-medium">FAB 按钮</h2>

    <p>
      每屏最多只使用一个 FAB 按钮，并且仅在按钮的目的是触发屏幕的主要操作时才使用。否则，请使用 <code>md-icon-button</code>。
    </p>

    <CodeExample title="FAB" e:example="_examples.floatingButtons" />

    <h3 class="md-title-large">API - md-fab</h3>
    <ApiTable :props="api.fab" />
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-medium">链接</h2>
    <p>
      默认情况下，所有按钮都会输出一个<code>button</code>标签。 如果要将其更改为<code>a</code>标记，只需为其指定 href 属性：
    </p>

    <CodeExample title="Links and Buttons" e:example="_examples.linkButtons" />
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-medium">和 jinge-router 无缝整合</h2>
    <p>
      按钮可以默认和 jinge-router 整合。可以把<code>md-button</code>当<code>router-link</code>一样使用，为其指定 to, params, active, target 等属性。
    </p>

    <CodeExample title="Router Buttons" e:example="_examples.srefButtons" />
  </div>
</PageContainer>