<!--
  import apiTableSty from '../../../components/api-table.scss';
  import {
    PageContainer,
    CodeExample,
    ApiTable,
    ApiItem,
    NoteBlock
  } from '../../../components';
-->
<PageContainer centered title="布局">
  <div class="page-container-section">
    <p>
      Material Design 中的响应式布局可适应任何可能的屏幕尺寸，该布局方案包括一个灵活的网格系统，以确保各个布局之间的一致性。
    </p>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-small">断点</h2>
    <p>
      使用断点来控制响应式布局。断点可用于 <code>md-size-[breakpoint]-[amount]</code>、<code>md-hide-[breakpoint]</code> 这两类 class。
    </p>
    <table :class="apiTableSty.apiTable">
      <tr>
        <th>断点</th>
        <th>描述</th>
        <th>宽度</th>
      </tr>
      <for :loop="api.breakpoints" vm:each="po">
      <tr>
        <td>${po.name}</td>
        <td>${po.desc}</td>
        <td>${po.type}</td>
      </tr>
      </for>
    </table>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-small">列布局</h2>

    <p>
      列布局系统通过 css 的 flexbox 实现，从而提供了灵活而便捷的 API。使用布局系统，需要先创建一个 <code>md-layout</code> 的父元素，然后在其下创建任意数量的 <code>md-layout-item</code> 列表：
    </p>
    <CodeExample title="Columns" e:example="_examples.columns" />
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-small">布局项间隙</h2>
    <p>
      默认情况下，布局项之间没有间隙。在 <code>md-layout</code> 元素上同时指定 <code>md-gutter</code> 类，
      可实现基于断点宽度的自动间隙。
    </p>
    <p>
      试试调整浏览器的大小并观察布局变化：
    </p>
    <CodeExample title="Gutter" e:example="_examples.gutter" />
    <p>
      不同断点下的间隙的值如下：
    </p>
    <ul style="margin-left: 16px;">
      <for e:loop="api.gutter" vm:each="gutter">
      <li>${gutter.name}: ${gutter.value}</li>
      </for>
    </ul>
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-small">布局项大小</h2>
    <p>
      默认情况下布局项等分容器。可以使用 <code>md-size-[amount]</code> 可以指定元素在布局中的大小，例如 <code>md-size-30</code>。其中，[amount] 的值可以是 33、66 或 5 的倍数。
    </p>
    <CodeExample title="Size" e:example="_examples.sizes" />
    <p>
      使用 <code>md-[breakpoint]-size-[amount]</code> 可以基于断点来更改布局大小。
    </p>
    <CodeExample title="Responsive" e:example="_examples.responsive" />
  </div>
  
  <div class="page-container-section">
    <h2 class="md-headline-small">隐藏元素</h2>
    <p>
      可以使用 <code>md-[breakpoint]-hide</code> 类来实现在较小屏幕上隐藏某个元素。
      <code>breakpoint</code> 可以是上述的任意断点。
    </p>
    <CodeExample title="Hide Elements" e:example="_examples.hide" />
  </div>

  <div class="page-container-section">
    <h2 class="md-headline-small">嵌套布局</h2>
    <p>
      布局列也可用于嵌套布局：
    </p>
    <CodeExample title="Nested columns" e:example="_examples.nested" />
  </div>
</PageContainer>