@import '~jinge-material/style/animation/variables.scss';
@import '~jinge-material/style/layout/mixins.scss';

.container {
  min-height: 100%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  transition: $md-transition-default;
  transition-property: padding-top;

  @include md-layout-small {
    padding-top: 48px;
  }

  @include md-layout-xsmall {
    padding-top: 56px;
  }

  &.splash {
    background: #303030;
    color: #fff;
  }

  &.splash :global {
    .md-title > .app-title {
      display: none;
    }
  }
}

.container-wrapper {
  &:not(.splash) {
    flex: 1;
    padding-left: 230px !important;

    @include md-layout-xsmall {
      padding-left: 0 !important;
    }
  }
}
