@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
