@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.main-footer {
  max-width: 1100px;
  margin: 96px auto 32px;
  padding: 0 16px;

  &.splash {
    max-width: 1312px;
  }
}

.main-footer > .inner {
  height: 96px;
  border-radius: 20px;
  border: 1px solid var(--md-color-primary-container);
  position: relative;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: var(--md-color-on-surface-variant);
  }

  a:first-child {
    margin-right: 32px;
  }

  i {
    flex: 1;
  }

  @include md-layout(xsmall) {
    height: 106px;
    flex-direction: column;

    i {
      display: block;
      width: 60px;
      background-color: var(--md-color-primary-container);
      margin: 8px 0;
      flex-grow: 0;
      flex-basis: 1px;
    }
  }
}

.red {
  display: inline-block;
  margin: 0 4px;
}
