@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';
@import './logo.scss';

.main-header {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  :global {
    .md-topbar {
      background-color: transparent !important;
      max-width: 100%;
      transition: max-width 0.3s $md-transition-default-timing;
      will-change: max-width;
    }

    .app-title {
      display: none;

      @include md-layout(xsmall) {
        display: inline;
      }
    }

    .logo {
      font-size: 30px;
      margin-right: 16px;
      @include jinge-logo;

      @include md-layout(xsmall) {
        display: none;
      }
    }

    .menu {
      display: none;

      @include md-layout(xsmall) {
        display: inline-flex;
      }
    }
  }

  &.splash {
    :global {
      .md-topbar {
        max-width: 1312px;
        margin: 0 auto;
      }

      .app-title {
        display: none;
      }
    }
  }
}

.theme-menu {
  i.theme-preview {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-theme-selector-border);
    border-radius: 50%;
  }
}
