@import '~jinge-material/style/animation.scss';
@import '~jinge-material/style/layout/mixins.scss';

.main-nav {
  width: 230px;
  padding: 24px 4px 12px;
  overflow: auto;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;

  @include md-layout(xsmall) {
    display: none;
  }

  :global {
    a.md-button {
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      color: var(--md-color-on-surface) !important;
      padding: 0 20px;
      line-height: 40px;

      > .md-content-layer {
        align-items: baseline;
      }

      .tip {
        margin-left: 4px;
        font-size: 12px;
        color: var(--md-color-on-surface-variant);
      }

      & + .md-button {
        margin-left: 0;
      }

      &:hover {
        text-decoration: none;
      }

      &.active,
      &.active .tip {
        color: var(--md-color-primary) !important;
      }
    }
  }
}

// .md-drawer {
//   display: none;

//   @include md-layout(xsmall) {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .main-nav-drawer-content {
//   padding: 16px;
//   flex: 1;
//   overflow: auto;
//   border-top: 1px solid rgb(0 0 0 / 12%);
// }
