<!--
  import style from './nav.scss';
  import { NavContent } from './nav-content';
-->
<if e:expect="!isSplash">
<div :class="[style.mainNav, 'md-body-large']">
  <NavContent :class="style.mainNav"/>
</div>
</if>
<!-- <div :class="style.mainNav"> -->
  
  
<!-- 
  <md-drawer fixed e:active="menuShown" on:closed="hideMenu">
    <md-toolbar class="md-transparent" elevation="0">
      <md-icon class="jinge-material-site-logo" style="font-size: 24px; margin: 0 0 0 8px;" src="assets/logo_nc.svg"/>
      <span class="md-title">Jinge Material</span>
    </md-toolbar>

    <div :class="style.mainNavDrawerContent">
      <NavContent />
    </div>
  </md-drawer> -->
<!-- </div> -->